body  {
		font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.navbar-fixed-top {
  padding-top: 20px;
  }

.header-nav-detail  {
	border: none ;
	box-shadow: none;
	background-image: none;
  padding-top: 0px;
  }

.container-fluid  {
  padding-left: 0px;
  padding-right: 0px;
  }

.navbar-default {
  background-color: #E1E3E3;
  }

.navbar-right {
  margin-right: 10px;
  }

#logo {
	margin: 0 10px;
	float: left;
	width:150px;
	height: 50px;
  }

/*Here starts the sing in button*/
.sing-in-button {
  padding: 14px 14px;
  border: none !important;
  background-color: #E1E3E3;
  }

.sing-in-button-li  {
  margin-left: 10px;
  border: none !important;
  color: #777;
  font-weight: 700;
  font-size: 16px;
  }

.sing-in-button-a {
  margin-left: 10px;
  color: #777;
  }
/*Here ends the sing in button*/

/*Here starts the login section*/
/*here starts the right section*/
.section-right-details {
  border-left:  3px solid #000;
  padding-left: 40px;
  border-radius: none !important;
  padding-top: 10px;
  padding-bottom: 40px;
}
.no-border-radius {
  border-radius: 0px !important;
}
.login-button-detail{
   box-shadow: 5px 5px 2px #888888;
}
/*Here startss the left section*/
.icon-user-details {
  font-size: 100px !important;
  display:block !important;
  text-align:center !important;
  }
  .section-left-details{
    padding-top: 20px;
  }

.margin-top-bottom {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  }
/*Here ends the left section*/
/*Here ends the login section*/


